@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');
:root {
    font-size: 10px;
    /*font*/
    font-family: Raleway, sans-serif;
    --font-family-2: 'Open Sans', sans-serif;
    /*colors*/
    --base-color-blue: #08A6E4;
    --base-color-gray: #A5A5A5;
    --base-color-black: #000000;
    --base-color-bg: #FFFFFF;
    --base-color-bg2: #F7F7F7;
    --base-color-shadow: #00000029;

    /*font weight*/
    --font-light: 300;
    --font-regular: 400;
    --font-semi-bold: 600;
    --font-bold: 700;
    --font-extra-bold: 800;

    /*font size*/
    --font-size-h1: 4.9rem;
    --font-size-h2: 4.9rem;
    --font-size-h3: 3.6rem;
    --font-size-h4: 2.1rem;
    --font-size-h5: 2.0rem;
    --font-size-p-bigest: 2.6rem;
    --font-size-p-big: 1.6rem;
    --font-size-p-regular: 1.4rem;
    --font-size-p-small: 1.2rem;
    --font-size-p-smallest: 1.1rem;
    --font-size-nav-logo: 3.2rem;
}
*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html, body {
    height: 100%;
}
html:focus-within {
    scroll-behavior: smooth; /* przewijanie strony */
}
body {
    line-height: 1.5;
    text-rendering: optimizeSpeed; /* dla szybszego renderowania lub optimizeLegibility dla dokładniejszego renderowanie tekstu */
    -webkit-font-smoothing: antialiased;
    font-weight: var(--font-regular);
}
img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}
input, button, textarea, select {
    font: inherit; /* font dziedziczony */
}
p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word; /*zawijanie wierszy */
}
ul[role='list'],
ol[role='list'] {
    list-style: none;
}
a:not([class]) {
    text-decoration-skip-ink: auto; /*podkreślenie linków z przerwami na wystające litery takie jak p, y*/
}
/* FINISH RESET */
p, a {
    font-family: var(--font-family-2);
    text-decoration: none;
}
.container {
    min-width: 1352px;
}
/*start styling*/
.header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70px;
    background-color: var(--base-color-bg);
    box-shadow: 0 3px 6px var(--base-color-shadow);
    margin-bottom: 130px;
}
.header .container .header__nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__nav__menu {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    height: 70px;
    gap: 95px;
}
.header__nav__logo {
    font-size: var(--font-size-nav-logo);
    font-weight: var(--font-light);
    color: var(--base-color-blue);
}
.header__nav__element {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header__nav__element:hover {
    border-bottom: 4px solid var(--base-color-blue);
}
.header__nav__element:hover .header__nav__link{
    color: var(--base-color-black);
    transform: translateY(2px);
}
.header__nav__link {
    font-family: var(--font-family-2);
    font-size: var(--font-size-p-smallest);
    font-weight: var(--font-bold);
    color: var(--base-color-gray);
}
.home-page {
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    position: relative;
}
.home-page .container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex-grow: 1;
}
.home-page__img {
    min-width: 1626px;
    width: 1626px;
    height: 594px;
    position: relative;
    bottom: 0;
}
.home-page__title {
    font-size: var(--font-size-h1);
    font-weight: var(--font-regular);
    color: var(--base-color-black);
    margin-bottom: 20px;
}
.home-page__description {
    font-size: var(--font-size-p-big);
    font-weight: var(--font-regular);
    margin-bottom: 60px;
}
.home-page__primary-btn {
    font-size: var(--font-size-p-big);
    font-weight: var(--font-bold);
    color: var(--base-color-bg);
    background-color: var(--base-color-blue);
    padding: 22px 157px;
    border-radius: 40px;
}
.statistic-page {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--base-color-bg);
    height: auto;
    padding-top: 100px;
    position: relative;
    z-index: 2;
    margin-top: -100px
}
.statistic-page .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.statistic-page__title {
    font-size: var(--font-size-h3);
    font-weight: var(--font-regular);
    margin-bottom: 100px;
}
.statistic-page__section {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 180px;
    margin-bottom: 121px;
}
.statistic-page__section__box {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    width: 160px;
    height: 170px;
    text-align: center;
}
.page__section__box__title {
    font-size: var(--font-size-h5);
    font-weight: var(--font-extra-bold);
    letter-spacing: 6px;
    margin-bottom: 19px;
    margin-top: 14px;
}
.page__section__box__description {
    font-size: 17px;
    color: var(--base-color-gray);
}
.statistic-page__section__box:nth-child(1) .page__section__box_img {
    height: 52px;
    width: 44px;
    position: relative;
    z-index: 4;
    transform: translateX(15%);
}
.statistic-page__section__box:nth-child(2) .page__section__box_img {
    height: 36px;
    width: 65px;
    position: relative;
    z-index: 4;
    margin-top: 16px;
    transform: translateX(9%);
}
.statistic-page__section__box:nth-child(3) .page__section__box_img {
    height: 48px;
    width: 52px;
    position: relative;
    z-index: 4;
    margin-top: 6px;
    transform: translateX(20%);
}
.statistic-page__section__box {
    position: relative;
}
.statistic-page__section__box:nth-child(1)::before {
    content: '';
    position: absolute;
    width: 62px;
    height: 62px;
    left: 50%;
    transform: translateX(-75%);
    border-radius: 50%;
    background-color: #FB3B64;
    z-index: 3;
}
.statistic-page__section__box:nth-child(2)::before {
    content: '';
    position: absolute;
    width: 62px;
    height: 62px;
    left: 50%;
    transform: translateX(-75%);
    border-radius: 50%;
    background-color: var(--base-color-blue);
    z-index: 3;
}
.statistic-page__section__box:nth-child(3)::before {
    content: '';
    position: absolute;
    width: 62px;
    height: 62px;
    left: 50%;
    transform: translateX(-75%);
    border-radius: 50%;
    background-color: #55DFB4;
    z-index: 3;
}
.statistic-page__section__box:nth-child(3) .page__section__box__title {
    margin-top: 11px;
}
.benefits {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 106px 0;
    height: auto;
    background-color: var(--base-color-bg2);
}
.benefits .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:37px;
}
.benefits__box {
    height: 370px;
    width: 1124px;
    background-color: var(--base-color-bg);
    border: 1px solid #E8E9ED;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 169px;
    padding: 38px;
}
.right__section {
    width: 416px;
}
.benefits__box__title {
    font-size: var(--font-size-h3);
    margin-bottom: 30px;
}
.benefits__box__description {
    font-family: var(--font-family-2);
    font-size: var(--font-size-p-big);
    margin-bottom: 50px;
}
.hr_style{
    width: 327px;
    height: 4px;
    border: none;
    outline: none;
    background-color: #FB3B64;
}
.left__section {
    position: relative;
    align-self: flex-end;
}
.left__section::before {
    content: '';
    position: absolute;
    width: 180px;
    height: 180px;
    border-radius: 41px;
    background-color: #FB3B64;
    top: 0;
    right: 0;
    z-index: 1;
    transform: matrix(0.71, 0.71, -0.71, 0.71, 0, 0) translate(-50%, 20%);
}
.benefits__box__img {
    position: relative;
    z-index: 2;
    margin-right: 117px;
}
.left__section2 {
    position: relative;
}
.left__section2::before {
    width: 320px;
    height: 320px;
    content: '';
    position: absolute;
    border-radius: 50%;
    background-color: var(--base-color-blue);
    top: -5px;
    z-index: 1;
}
.benefits__box__img2 {
    position: relative;
    width: 426px;
    height: 328px;
    z-index: 2;
}
.right__section2 {
    width: 416px;
}
.benefits__box:nth-child(2) .hr_style {
    background-color: var(--base-color-blue);
}
.benefits__box:nth-child(2) {
    gap: 192px;
}
.benefits__box:nth-child(2) .benefits__box__title {
    width: 260px;
}
/*section .benefits__box:nth-child(3) {*/
/*    height: 370px;*/
/*    width: 1124px;*/
/*    background-color: none;*/
/*    border: 1px solid #E8E9ED;*/
/*    border-radius: 5px;*/
/*    display: flex;*/
/*    justify-content: space-between;*/
/*    align-items: center;*/
/*    gap: 169px;*/
/*    padding: 38px;*/
/*}*/
.last__box {
    height: 370px;
    width: 1124px;
    display: flex;
    justify-content: space-between;
    gap: 60px;
}
.last__box__left {
    width: 623px;
    background-color: var(--base-color-bg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 35px 70px;
}
.last__box__right {
    width: 440px;
    background-color: #55DFB4;
}
.last__box__right, .last__box__left {
    border: 1px solid #E8E9ED;
    border-radius: 5px;
}
.last__box__left .hr_style {
    background-color: #55DFB4;
}
.last__box__left .benefits__box__title {
    width: 370px;
}
.last__box__right {
    padding: 98px 81px 64px 62px;
}