// Abstract files (mixin and variables)
@import "abscracts/all";
// Core files (reset and typography)
@import "core/all";
// Components (buttons)
@import "components/buttons";
// Layout (navigation, header and footer)
@import "layout/all";
// Sections (cards and info)
@import "sections/all";
// Pages (left side, right side and no side)
@import "pages/all";
/* FINISH RESET */
/*start styling*/

.container {
  min-width: 1352px;
}
//.header {
//  display: flex;
//  align-items: center;
//  justify-content: center;
//  height: 70px;
//  background-color: $base-color-bg;
//  box-shadow: 0 3px 6px $base-color-shadow;
//  margin-bottom: 130px;
//  .container {
//    .header__nav {
//      display: flex;
//      justify-content: space-between;
//      align-items: center;
//    }
//  }
//}
//.header__nav__menu {
//  display: flex;
//  align-items: center;
//  justify-content: center;
//  list-style-type: none;
//  height: 70px;
//}
//.header__nav__logo {
//  font-size: $font-size-nav-logo;
//  font-weight: $font-light;
//  color: $base-color-blue;
//  text-decoration: none;
//}
//.header__nav__element {
//  height: 100%;
//  display: flex;
//  justify-content: center;
//  align-items: center;
//  &:hover {
//    .header__nav__link {
//      color: $base-color-black;
//    }
//  }
//}
//.header__nav__link {
//  font-family: $font-family-2;
//  font-size: $font-size-p-smallest;
//  font-weight: $font-bold;
//  color: $base-color-gray;
//  padding: 23px 40px;
//  text-decoration: none;
//  &:hover {
//    border-top: 4px solid transparent;
//    border-bottom: 4px solid $base-color-blue;
//  }
//}
.home-page {
  height: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
  position: relative;
  .container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex-grow: 1;
  }
}
.home-page__img {
  min-width: 1626px;
  width: 1626px;
  height: 594px;
  position: relative;
  bottom: 0;
}
.home-page__title {
  font-size: $font-size-h1;
  font-weight: $font-regular;
  color: $base-color-black;
  margin-bottom: 20px;
}
.home-page__description {
  font-size: $font-size-p-big;
  font-weight: $font-regular;
  margin-bottom: 60px;
}
.home-page__primary-btn {
  font-size: $font-size-p-big;
  font-weight: $font-bold;
  color: $base-color-bg;
  background-color: $base-color-blue;
  padding: 22px 157px;
  border-radius: 40px;
  text-decoration: none;
}
.statistic-page {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $base-color-bg;
  height: auto;
  padding-top: 100px;
  position: relative;
  z-index: 2;
  margin-top: -100px;
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}
.statistic-page__title {
  font-size: $font-size-h3;
  font-weight: $font-regular;
  margin-bottom: 100px;
}
.statistic-page__section {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 180px;
  margin-bottom: 121px;
}
.statistic-page__section__box {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  width: 160px;
  height: 170px;
  text-align: center;
  position: relative;
  &:nth-child(1) {
    .page__section__box_img {
      height: 52px;
      width: 44px;
      position: relative;
      z-index: 4;
      transform: translateX(15%);
    }
    &::before {
      content: '';
      position: absolute;
      width: 62px;
      height: 62px;
      left: 50%;
      transform: translateX(-75%);
      border-radius: 50%;
      background-color: $box-color-pink;
      z-index: 3;
    }
  }
  &:nth-child(2) {
    .page__section__box_img {
      height: 36px;
      width: 65px;
      position: relative;
      z-index: 4;
      margin-top: 16px;
      transform: translateX(9%);
    }
    &::before {
      content: '';
      position: absolute;
      width: 62px;
      height: 62px;
      left: 50%;
      transform: translateX(-75%);
      border-radius: 50%;
      background-color: $base-color-blue;
      z-index: 3;
    }
  }
  &:nth-child(3) {
    .page__section__box_img {
      height: 48px;
      width: 52px;
      position: relative;
      z-index: 4;
      margin-top: 6px;
      transform: translateX(20%);
    }
    &::before {
      content: '';
      position: absolute;
      width: 62px;
      height: 62px;
      left: 50%;
      transform: translateX(-75%);
      border-radius: 50%;
      background-color: $box-color-green;
      z-index: 3;
    }
    .page__section__box__title {
      margin-top: 11px;
    }
  }
}
.page__section__box__title {
  font-size: $font-size-h5;
  font-weight: $font-extra-bold;
  letter-spacing: 6px;
  margin-bottom: 19px;
  margin-top: 14px;
}
.page__section__box__description {
  font-size: 17px;
  color: $base-color-gray;
}
//.benefits {
//  display: flex;
//  align-items: center;
//  justify-content: center;
//  padding: 106px 0;
//  height: auto;
//  background-color: $base-color-bg2;
//  .container {
//    display: flex;
//    justify-content: center;
//    align-items: center;
//    flex-direction: column;
//    gap: 37px;
//  }
//}
//.benefits__box {
//  height: 370px;
//  width: 1124px;
//  background-color: $base-color-bg;
//  border: 1px solid #E8E9ED;
//  border-radius: 5px;
//  display: flex;
//  justify-content: space-between;
//  align-items: center;
//  gap: 169px;
//  padding: 38px;
//  &:nth-child(2) {
//    .hr_style {
//      background-color: $base-color-blue;
//    }
//    gap: 192px;
//    .benefits__box__title {
//      width: 260px;
//    }
//  }
//}
//.right__section {
//  width: 416px;
//}
//.benefits__box__title {
//  font-size: $font-size-h3;
//  margin-bottom: 30px;
//}
//.benefits__box__description {
//  font-family: $font-family-2;
//  font-size: $font-size-p-big;
//  margin-bottom: 50px;
//}
//.hr_style {
//  width: 327px;
//  height: 4px;
//  border: none;
//  outline: none;
//  background-color: $box-color-pink;
//}
//.left__section {
//  position: relative;
//  align-self: flex-end;
//  &::before {
//    content: '';
//    position: absolute;
//    width: 180px;
//    height: 180px;
//    border-radius: 41px;
//    background-color: $box-color-pink;
//    top: 0;
//    right: 0;
//    z-index: 1;
//    transform: matrix(0.71, 0.71, -0.71, 0.71, 0, 0) translate(-50%, 20%);
//  }
//}
//.benefits__box__img {
//  position: relative;
//  z-index: 2;
//  margin-right: 117px;
//}
//.left__section2 {
//  position: relative;
//  &::before {
//    width: 320px;
//    height: 320px;
//    content: '';
//    position: absolute;
//    border-radius: 50%;
//    background-color: $base-color-blue;
//    top: -5px;
//    z-index: 1;
//  }
//}
//.benefits__box__img2 {
//  position: relative;
//  width: 426px;
//  height: 328px;
//  z-index: 2;
//}
//.right__section2 {
//  width: 416px;
//}
//.last__box {
//  height: 370px;
//  width: 1124px;
//  display: flex;
//  justify-content: space-between;
//  gap: 60px;
//}
//.last__box__left {
//  width: 623px;
//  background-color: $base-color-bg;
//  display: flex;
//  flex-direction: column;
//  justify-content: center;
//  padding: 35px 70px;
//  border: 1px solid #E8E9ED;
//  border-radius: 5px;
//  .hr_style {
//    background-color: $box-color-green;
//  }
//  .benefits__box__title {
//    width: 370px;
//  }
//}
//.last__box__right {
//  width: 440px;
//  background-color: $box-color-green;
//  border: 1px solid #E8E9ED;
//  border-radius: 5px;
//  padding: 98px 81px 64px 62px;
//}
//.pricing {
//  display: flex;
//  align-items: center;
//  justify-content: center;
//  background-color: $base-color-bg;
//  width: 100%;
//  padding-top: 100px;
//  margin-bottom: 155px;
//  .container {
//    display: flex;
//    align-items: center;
//    flex-direction: column;
//    width: 1266px;
//    height: 616px;
//  }
//}
//.pricing__title {
//  font-size: $font-size-h3;
//  font-weight: $font-regular;
//  margin-bottom: 50px;
//}
//.pricing__container__box {
//  display: flex;
//  justify-content: center;
//  align-items: center;
//  gap: 58px;
//}
//.pricing__box {
//  width: 372px;
//  height: 461px;
//  border-radius: 18px;
//  display: flex;
//  justify-content: flex-start;
//  align-items: center;
//  position: relative;
//  padding-top: 34px;
//  flex-direction: column;
//  &:nth-child(1) {
//    border: 1px solid $box-color-pink;
//    .pricing__box__price {
//      color: $box-color-pink;
//    }
//    .pricing__box__list {
//      margin-top: 69px;
//      li {
//        &:nth-child(4) {
//          &::before {
//            border: 1px solid $box-color-pink;
//          }
//        }
//        &:nth-child(5) {
//          &::before {
//            border: 1px solid $box-color-pink;
//          }
//        }
//      }
//    }
//    li {
//      &:nth-child(4) {
//        &::after {
//          content: '\f00d';
//          color: $box-color-pink;
//          transform: translateY(calc(50% + 0.25rem)) translateX(calc(-50% - 12px - 3px));
//        }
//      }
//      &:nth-child(5) {
//        &::after {
//          content: '\f00d';
//          color: $box-color-pink;
//          transform: translateY(calc(50% + 0.25rem)) translateX(calc(-50% - 12px - 3px));
//        }
//      }
//    }
//  }
//  &:nth-child(2) {
//    border: 1px solid $box-color-blue;
//    box-shadow: 5px 10px 27px $box-color-shadow;
//    font-size: $font-size-h4;
//    width: 405px;
//    height: 500px;
//    .pricing__box__price {
//      color: $box-color-blue;
//    }
//    .pricing__box__list {
//      margin-top: 61px;
//      li {
//        &:nth-child(5) {
//          &::before {
//            border: 1px solid $box-color-pink;
//          }
//        }
//      }
//    }
//    li {
//      &:nth-child(5) {
//        &::after {
//          content: '\f00d';
//          color: $box-color-pink;
//          transform: translateY(calc(50% + 0.25rem)) translateX(calc(-50% - 12px - 3px));
//        }
//      }
//    }
//    .pricing__box__link {
//      top: 475px;
//      background-color: $box-color-blue;
//    }
//  }
//  &:nth-child(3) {
//    border: 1px solid $box-color-green;
//    .pricing__box__price {
//      color: $box-color-green;
//    }
//    .pricing__box__list {
//      margin-top: 50px;
//    }
//    .pricing__box__link {
//      background-color: $box-color-green;
//    }
//  }
//}
//.pricing__box__title {
//  font-weight: $font-bold;
//  font-size: $font-size-h5;
//  margin-bottom: 14px;
//}
//.pricing__box__price {
//  font-size: $font-size-price;
//  font-weight: $font-light;
//}
//.pricing__box__offer {
//  font-weight: $font-bold;
//  font-size: $font-size-p-small;
//  margin-top: 5px;
//}
//.pricing__box__list {
//  font-family: $font-family-2;
//  font-size: $font-size-p-regular;
//  display: flex;
//  flex-direction: column;
//  align-items: center;
//  list-style-type: none;
//  li {
//    margin-bottom: 20px;
//    position: relative;
//    display: inline-flex;
//    &::before {
//      content: '';
//      position: absolute;
//      left: 0;
//      top: 50%;
//      transform: translateY(-50%) translateX(-21px);
//      width: 12px;
//      height: 12px;
//      border-radius: 2px;
//      border: 1px solid #55DFB4;
//    }
//    &::after {
//      font-family: "Font Awesome 5 Free", sans-serif;
//      content: '\f00c';
//      font-size: 0.5rem;
//      font-weight: bold;
//      position: absolute;
//      color: $box-color-green;
//      transform: translateY(calc(50% + 0.25rem)) translateX(calc(-50% - 12px - 3px));
//    }
//  }
//}
//.pricing__box__link {
//  font-weight: $font-bold;
//  font-size: $font-size-link-box;
//  padding: 16px 57px;
//  background-color: $box-color-pink;
//  border-radius: 23px;
//  color: $base-color-bg;
//  position: absolute;
//  left: 50%;
//  top: 433px;
//  transform: translateX(-50%);
//  text-decoration: none;
//}
//.contact {
//  display: flex;
//  justify-content: center;
//  align-items: center;
//  margin-bottom: 59px;
//  .container {
//    min-width: 896px;
//    width: 896px;
//    height: auto;
//    display: flex;
//    align-items: flex-start;
//    justify-content: space-between;
//  }
//}
//.right__section__contact {
//  form {
//    display: flex;
//    flex-direction: column;
//    width: 440px;
//  }
//}
//.contact__title {
//  font-size: $font-size-h2;
//  font-weight: $font-regular;
//  margin-bottom: 22px;
//}
//.contact__description {
//  font-size: $font-size-p-big;
//  font-family: $font-family-2;
//  font-weight: $font-regular;
//}
//.contact__info {
//  display: flex;
//  justify-content: flex-start;
//  align-items: center;
//  margin-top: 42px;
//}
//.contact__info--text {
//  font-size: $font-size-p-big;
//  font-family: $font-family-2;
//  font-weight: $font-semi-bold;
//  color: $base-color-gray;
//  padding-left: 10px;
//}
//.phone-icon {
//  margin-left: 20px;
//  .mail-icon {
//    width: 27px;
//    height: 27px;
//    color: $base-color-gray;
//  }
//}
//input {
//  width: 440px;
//  height: 40px;
//  outline: none;
//  border: none;
//  border-bottom: 2px solid $form-color-gray2;
//  margin-bottom: 42px;
//}
//label[for="name"], label[for="email"] {
//  text-transform: uppercase;
//  color: $base-color-blue;
//  font-family: $font-family-2;
//  font-size: $font-size-p-smallest;
//  font-weight: $font-bold;
//}
//.checkbox input {
//  position: absolute;
//  opacity: 0;
//  cursor: pointer;
//  height: 0;
//  width: 0;
//}
//.checkbox {
//  cursor: pointer;
//  display: flex;
//  width: 444px;
//  font-family: $font-family-2;
//  font-size: $font-size-p-small;
//  color: $form-color-gray;
//  margin-bottom: 20px;
//  margin-top: -8px;
//}
//.checkbox span {
//  height: 22px;
//  width: 22px;
//  border: 1px solid $base-color-gray;
//  flex-shrink: 0;
//  cursor: pointer;
//  margin-right: 10px;
//  border-radius: 8px;
//}
//.checkbox input:checked + span {
//  background-image: url("../images/Checkmark.svg");
//  background-position: center;
//  background-repeat: no-repeat;
//}
//.button {
//  background-color: $base-color-blue;
//  font-size: $font-size-link-box;
//  font-weight: $font-bold;
//  color: $base-color-bg2;
//  font-family: $font-family-2;
//  padding: 11px 52px;
//  border: none;
//  border-radius: 1000px;
//  align-self: flex-end;
//  text-align: center;
//  cursor: pointer;
//}
//.footer {
//  display: flex;
//  align-items: center;
//  justify-content: center;
//  background-color: #F7F7F7;
//  box-shadow: 0 -5px 40px #00000029;
//  .container {
//    display: flex;
//    align-items: center;
//    justify-content: space-between;
//  }
//}
//.footer__text {
//  padding-top: 20px;
//  padding-bottom: 17px;
//}
//.footer__text-desc {
//  color: $base-color-gray;
//  font-size: $font-size-p-smallest;
//  font-family: $font-family-2;
//  font-weight: $font-regular;
//}
//.footer__text-logo {
//  font-size: 26px;
//  color: $base-color-blue;
//  font-weight: $font-light;
//}
//.footer__icon {
//  display: flex;
//}
//.footer__link {
//  &:nth-child(1) {
//    margin-right: 20px;
//  }
//}

@media screen and (max-width: 375px) {
  .container {
    min-width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  /* miejsce na menu mobile */
  .home-page {
    width: 100%;
  }
  .home-page {
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    position: relative;

    .container {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      flex-grow: 1;
    }
  }
  .home-page__img {
    min-width: 1626px;
    width: 1626px;
    height: 594px;
    position: relative;
    bottom: 0;
  }
  .home-page__title {
    font-size: 3.5rem;
    font-weight: $font-regular;
    color: $base-color-black;
    margin-bottom: 20px;
  }
  .home-page__description {
    font-size: 1.6rem;
    font-family: $font-family-2;
    font-weight: $font-regular;
    margin-bottom: 60px;
    text-align: center;
    padding: 0 33px;
  }
  .home-page__primary-btn {
    font-size: 16px;
    font-family: $font-family-2;
    font-weight: $font-bold;
    color: $base-color-bg;
    background-color: $base-color-blue;
    padding: 22px 92px;
    border-radius: 40px;
    text-decoration: none;
  }
  .home-page__img {
    min-width: 779px;
    width: 779px;
    height: 267px;
    position: relative;
    left: -55%;
    bottom: 0;
  }
  .statistic-page {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: auto;
    padding-top: 50px;
    position: relative;
    z-index: 2;
    margin-top: -50px;
    .container {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      max-width: 375px;
    }
  }
  .statistic-page__title {
    text-align: center;
    padding: 0 36px;
    font-size: 30px;
    font-weight: $font-regular;
    margin-bottom: 28px;
  }
  .statistic-page__section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 25px;
    margin-bottom: 50px;
  }
  .statistic-page__section__box {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    width: 160px;
    height: 170px;
    text-align: center;
    position: relative;
    &:nth-child(1) {
      .page__section__box_img {
        height: 52px;
        width: 44px;
        position: relative;
        z-index: 4;
        transform: translateX(15%);
      }
      &::before {
        content: '';
        position: absolute;
        width: 62px;
        height: 62px;
        left: 50%;
        transform: translateX(-75%);
        border-radius: 50%;
        background-color: $box-color-pink;
        z-index: 3;
      }
    }
    &:nth-child(2) {
      .page__section__box_img {
        height: 36px;
        width: 65px;
        position: relative;
        z-index: 4;
        margin-top: 16px;
        transform: translateX(9%);
      }
      &::before {
        content: '';
        position: absolute;
        width: 62px;
        height: 62px;
        left: 50%;
        transform: translateX(-75%);
        border-radius: 50%;
        background-color: $base-color-blue;
        z-index: 3;
      }
    }
    &:nth-child(3) {
      .page__section__box_img {
        height: 48px;
        width: 52px;
        position: relative;
        z-index: 4;
        margin-top: 6px;
        transform: translateX(20%);
      }
      &::before {
        content: '';
        position: absolute;
        width: 62px;
        height: 62px;
        left: 50%;
        transform: translateX(-75%);
        border-radius: 50%;
        background-color: $box-color-green;
        z-index: 3;
      }
      .page__section__box__title {
        margin-top: 11px;
      }
    }
  }
  .page__section__box__title {
    font-size: $font-size-h5;
    font-weight: $font-extra-bold;
    letter-spacing: 6px;
    margin-bottom: 19px;
    margin-top: 14px;
  }
  .page__section__box__description {
    font-size: 17px;
    color: $base-color-gray;
  }
  .benefits {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 42px 30px;
    height: auto;
    background-color: $base-color-bg2;
    .container {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      max-width: 375px;
      gap: 41px;
    }
  }
  .benefits__box {
    min-height: 100px;
    width: 100%;
    background-color: $base-color-bg;
    border: 1px solid #E8E9ED;
    border-radius: 5px;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: center;
    gap: 26px;
    padding: 21px;
    hr {
      display: none;
    }
    &:nth-child(2) {
      flex-direction: column;
      gap: 26px;
      .benefits__box__title {
        font-weight: $font-regular;
        font-size: 30px;
        width: 100%;
      }
    }
  }
  .right__section {
    width: 100%;
  }
  .benefits__box__title {
    font-size: 30px;
    height: 72px;
    margin-bottom: 10px;
    font-weight: $font-regular;
    line-height: 1.2;
  }
  .benefits__box__description {
    font-family: $font-family-2;
    font-size: 14px;
    margin-bottom: 0;
  }
  .left__section {
    position: relative;
    &::before {
      content: '';
      position: absolute;
      width: 100px;
      height: 100px;
      border-radius: 41px;
      background-color: $box-color-pink;
      top: 20px;
      right: -50px;
      z-index: 1;
      transform: matrix(0.71, 0.71, -0.71, 0.71, 0, 0) translate(-50%, 20%);
    }
  }
  .benefits__box__img {
    position: relative;
    width: 192px;
    z-index: 2;
    margin-right: unset;
    padding-top: 20px;
  }
  .left__section2 {
    position: relative;
    margin: 0 auto;
    &::before {
      width: 131px;
      height: 131px;
      content: '';
      position: absolute;
      border-radius: 50%;
      background-color: $base-color-blue;
      left: 10%;
      top: -5px;
      z-index: 1;
    }
  }
  .benefits__box__img2 {
    position: relative;
    width: 175px;
    height: 134px;
    z-index: 2;
    padding-left: 20px;
  }
  .right__section2 {
    width: 100%;
    .benefits__box__description {
      margin-top: 18px;
    }
  }
  //.last__box {
  //  height: 370px;
  //  width: 1124px;
  //  display: flex;
  //  justify-content: space-between;
  //  gap: 60px;
  //}
  //.last__box__left {
  //  width: 623px;
  //  background-color: $base-color-bg;
  //  display: flex;
  //  flex-direction: column;
  //  justify-content: center;
  //  padding: 35px 70px;
  //  border: 1px solid #E8E9ED;
  //  border-radius: 5px;
  //  .hr_style {
  //    background-color: $box-color-green;
  //  }
  //  .benefits__box__title {
  //    width: 370px;
  //  }
  //}
  //.last__box__right {
  //  width: 440px;
  //  background-color: $box-color-green;
  //  border: 1px solid #E8E9ED;
  //  border-radius: 5px;
  //  padding: 98px 81px 64px 62px;
  //}
}