$font-family-2: 'Open Sans', sans-serif;
$base-color-blue: #08A6E4;
$base-color-gray: #A5A5A5;
$base-color-black: #000000;
$base-color-bg: #FFFFFF;
$base-color-bg2: #F7F7F7;
$base-color-shadow: #00000029;
$box-color-pink: #FB3B64;
$box-color-green: #55DFB4;
$box-color-blue: #07ACE6;
$box-color-shadow: #07ACE629;
$form-color-gray: #707070;
$form-color-gray2: #95989A;
$font-light: 300;
$font-regular: 400;
$font-semi-bold: 600;
$font-bold: 700;
$font-extra-bold: 800;
$font-size-h1: 4.9rem;
$font-size-h2: 4.9rem;
$font-size-h3: 3.6rem;
$font-size-h4: 2.1rem;
$font-size-h5: 2.0rem;
$font-size-p-bigest: 2.6rem;
$font-size-p-big: 1.6rem;
$font-size-p-regular: 1.4rem;
$font-size-p-small: 1.2rem;
$font-size-p-smallest: 1.1rem;
$font-size-nav-logo: 3.2rem;
$font-size-price: 4.6rem;
$font-size-link-box: 1.3rem;